{% load static %} {% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    {% block extra_css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/serial-controls.css' %}" />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <title>
      {% block title %}
        BoardBoost
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet" />
  </head>

  <body>
    {% block header %}
      {% include 'components/header-public.html' %}
    {% endblock %}

    <div class="content">
      {% block content %}

      {% endblock %}
    </div>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
