<html>
  <head>
    <title>BoardBoost</title>
    <body>
      <div class='chat-container'>
        <div class='chat-messages'>
          <div class='welcome-message'>Hello! I'm BoardBoost, your microcontroller coding assistant. How can I help you today?</div>
          {% for message in messages %}
              <!-- add class via additional Message field -->
          <div class='chat-message {{message.role}}'>{{ message.text }}</div>
          {% endfor %}
        </div>
        <div class='chat-input'>
          <form method='post'>
            <input class='user-input' name='user_input' id='id_new_user_input' placeholder='Type your message here...' />
            {% csrf_token %}
          </form>
        </div>
      </div>
    </body>
  </head>
</html>
